body {
    display: flex;
}

#container {
    margin: 200px auto 0;
    display: flex;
    flex-direction: column;
}

#header {
    font-size: 5em;
    text-align: center;
}

#inputs {
    margin: 25px auto 0;
}
#inputs > label {
    font-size: 2.5em;
    text-align: center;
    padding: 0 10px;
}
input {
    margin: 0 10px;
}
#input__color {
    width: 100px;
}

#container__img {
    margin: 50px auto 0;
}